// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Przejście modal
.smooth-transition{
    animation-name: smooth; 
    animation-duration: 1s;
}

@keyframes smooth {
    from {opacity: 0.2;}
    to {opacity: 1.0;}
}

.highlight{
	background-color: rgba(140, 250, 186,0.7);
}

#messages{
	border-collapse: separate;
	width: 100%;
    border: 2px solid aqua;
    border-radius: 15px;
}


#messages article{
	margin: 10px;
    padding: 10px;
    border-bottom:2px solid aqua;
    border-right:2px solid aqua;
	background-color: #f2f2f2;
}

#messages p{
    padding-right: 20%;
    height: 100%;
}
#messages .recieved{
    background-color: white !important;
}

